# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
ios/
android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# env
.env
.env.*
!.env.example

# editor
.vscode/
.idea/
*.swp

# typescript
*.tsbuildinfo

# jest
coverage/

# supabase
supabase/.temp/
supabase/.branches/
